main
{
    background: #e8e7e7;
    height: 100vh;
    padding-top: 5vh;
}
.start
{
    background-color: pink;
    color: #000000;
    font-weight: 700;
    height: 40px;
    width: 130px;
    border-radius: 3px;
    box-shadow: 0px 0px 9px 2px black inset;
    border: none;
}
.main
{
    background-color: pink;
    height: 100vh;
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 30px;
    padding-right: 30px;
}
.time
{
    color: black;
    font-family:Mochiy Pop One ;
    padding-right: 20px;
}
.main img
{
    width: 500px;
    height: 150px;
    opacity: 0;
}
.main p
{
    color: black;
    font-size: 90px;
    font-weight: 500;
    font-family: Mochiy Pop One;
}
.section
{
    display: none;
}
.section11
{
    height: fit-content;
    margin: auto;
    margin-top: 20vh;
    background-color: black;
    width: 50vw;
    border-radius: 10px;
    display: none;
    font-size: 20px;
    font-weight: 600;
    color: pink;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.submit
{
    background-color: black;
    color: pink;
    font-weight: 600;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    border: none;
    box-shadow: 0px 0px 9px 2px pink inset;
}
.submit2
{
    background-color: pink;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    border: none;
    box-shadow: 0px 0px 9px 2px black inset;
}
.questions
{
    height: fit-content;
    width: 50vw;
    margin: auto;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
    color: white;
}
.question
{
    background-color: black;
    height: 150px;
    margin: auto;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-top: 15vh;
}
.number
{
    font-size: 22px;
    font-weight: 700;
}
.ques
{
    font-size: 20px;
}
.options
{
    background: pink;
    height: 250px;
    margin: auto;
    padding-left: 20px;
    padding-top: 30px;
}
.buttonav
{
    border: none;
    color: black;
    background-color:inherit;
}
.buttonav:hover
{
    color: pink;
}
label
{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
@media (max-width: 750px) {
    .questions
    {
        width: 98vw;
    }
    .question
    {
        height: fit-content;
        padding-bottom: 20px;
    }
    .section11
    {
        width: 98vw;
    }
    .main img
    {
       width: 200px;
       height: 150px;
       opacity: 0;
    }
    .main p
   {
       color: black;
       font-size: 50px;
       font-weight: 500;
       font-family: Mochiy Pop One;
   }
}